body {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  margin: 0;
}
.container {
  text-align: center;
}

container {
  height: 100vh;
}
